@import "src/app/shared/styles/keyframes";
@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/mixins";

.ag-grid {
  height: 100vh;
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  @include flex(row, center, center);
  &__content{
    width: 1440px;
    height: 80%;
  }
}
