@import "variables";

* {
  font-family: $primary-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
*::-webkit-scrollbar{
  width: 15px;
  height: 8px;
  background: $primary-color;
}

*::-webkit-scrollbar-thumb {
  background: $secondary-color;

}

body {
  overflow-x: hidden;
}
